[user]
    name = Noah Watkins
    email = noahwatkins@gmail.com

[color]
    diff = auto
    ui = true

[core]
    editor = /usr/bin/vim
    excludesfile = ~/.gitignore

#[format]
#    pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset

[log]
    decorate = full

[sendemail]
    smtpEncryption = tls
    smtpServer = smtp.gmail.com
    smtpUser = noahwatkins@gmail.com
    smtpServerPort = 587
